In [ ]:
문제 풀기: ~ 9:10

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('./test/galaxy_users.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

# Q1

In [3]:
var_list1=['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
           'StreamingTV', 'StreamingMovies']

In [4]:
df[var_list1].apply(lambda x: x.unique())

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No
1,Yes,No,Yes,Yes,Yes,Yes
2,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [11]:
q1=df[df[var_list1].apply(lambda x: x.isin(['Yes','No'])).all(axis=1)].reset_index(drop=True)

In [12]:
len(df), len(q1)

(7032, 5512)

In [16]:
q1[var_list1]=q1[var_list1].replace({'Yes':1, 'No':0})

C:\Users\Administrator\Temp\ipykernel_22580\1984198584.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  q1[var_list1]=q1[var_list1].replace({'Yes':1, 'No':0})

In [22]:
q1_1=q1[var_list1].sum(axis=1).value_counts()
q1_1

3    1117
2    1033
1     966
4     850
0     693
5     569
6     284
Name: count, dtype: int64

In [25]:
round(q1_1[1] / q1_1[6],1)

3.4

# Q2

# Q3