In [ ]:
문제 풀기: ~ 9:10

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('./test/galaxy_users.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

# Q1

In [3]:
var_list1=['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
           'StreamingTV', 'StreamingMovies']

In [4]:
df[var_list1].apply(lambda x: x.unique())

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No
1,Yes,No,Yes,Yes,Yes,Yes
2,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [11]:
q1=df[df[var_list1].apply(lambda x: x.isin(['Yes','No'])).all(axis=1)].reset_index(drop=True)

In [12]:
len(df), len(q1)

(7032, 5512)

In [16]:
q1[var_list1]=q1[var_list1].replace({'Yes':1, 'No':0})

C:\Users\Administrator\Temp\ipykernel_22580\1984198584.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  q1[var_list1]=q1[var_list1].replace({'Yes':1, 'No':0})

In [26]:
q1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,1,...,1,0,0,0,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,1,...,0,0,0,0,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,1,...,1,1,0,0,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,0,...,0,0,0,0,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [28]:
q1[var_list1].sum(axis=1)

0       1
1       2
2       2
3       3
4       0
       ..
5507    5
5508    4
5509    1
5510    0
5511    5
Length: 5512, dtype: int64

In [22]:
q1_1=q1[var_list1].sum(axis=1).value_counts()
q1_1

3    1117
2    1033
1     966
4     850
0     693
5     569
6     284
Name: count, dtype: int64

In [25]:
round(q1_1[1] / q1_1[6],1)

3.4

# Q2

In [29]:
var_list2=['tenure', 'MonthlyCharges', 'TotalCharges']

In [30]:
q2=df[var_list2].copy()

In [34]:
q2['통신사사용월수']=q2['TotalCharges'] // q2['MonthlyCharges']

In [35]:
q2.drop(columns='TotalCharges').corr().abs().round(3)  # 0.999

                tenure  MonthlyCharges  통신사사용월수
tenure           1.000           0.247    0.999
MonthlyCharges   0.247           1.000    0.246
통신사사용월수          0.999           0.246    1.000

# Q3

In [36]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [37]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [38]:
var_list3=['SeniorCitizen','Partner', 'Dependents','tenure',
            'MonthlyCharges', 'TotalCharges',
            'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
            'StreamingMovies','PaperlessBilling', 'Churn']

In [39]:
q3=df[var_list3]

In [41]:
obj_list=q3.columns[q3.dtypes == 'object']
obj_list

Index(['Partner', 'Dependents', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingMovies',
       'PaperlessBilling', 'Churn'],
      dtype='object')

In [40]:
q3.head(2)

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling,Churn
0,0,Yes,No,1,29.85,29.85,No,Yes,No,No,No,Yes,No
1,0,No,No,34,56.95,1889.50,Yes,No,Yes,No,No,No,No

In [42]:
q3.loc[:, obj_list] = q3.loc[:, obj_list].apply(lambda x: np.where( x == 'Yes', 1, np.where( x == 'No', 0, -1)))

In [43]:
q3.loc[:, obj_list].head(2)

,Partner,Dependents,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling,Churn
0,1,0,0,1,0,0,0,1,0
1,0,0,1,0,1,0,0,0,0

In [45]:
q3.loc[:, obj_list].apply(lambda x: x.unique())

Partner                 [1, 0]
Dependents              [0, 1]
OnlineSecurity      [0, 1, -1]
OnlineBackup        [1, 0, -1]
DeviceProtection    [0, 1, -1]
TechSupport         [0, 1, -1]
StreamingMovies     [0, 1, -1]
PaperlessBilling        [1, 0]
Churn                   [0, 1]
dtype: object

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [47]:
train, test = train_test_split(q3, test_size=0.3, random_state=123)

In [49]:
minmax=MinMaxScaler().fit(train)
train_m = minmax.transform(train)
test_m = minmax.transform(test)

In [50]:
train_m

array([[0. , 0. , 0. , ..., 1. , 1. , 1. ],
       [0. , 1. , 0. , ..., 0.5, 1. , 1. ],
       [0. , 0. , 0. , ..., 0.5, 0. , 0. ],
       ...,
       [0. , 1. , 1. , ..., 0. , 1. , 0. ],
       [0. , 1. , 0. , ..., 1. , 1. , 0. ],
       [0. , 1. , 0. , ..., 1. , 1. , 0. ]])

In [52]:
logit=LogisticRegression(random_state=123).fit(train_m[:, :-1], train_m[:, -1])

In [53]:
pred=logit.predict(test_m[:, :-1])

In [54]:
from sklearn.metrics import f1_score

In [56]:
round(f1_score(test_m[:,-1], pred),2)

0.55